html {
	position: relative;
	min-height: 100%;
}

.working {
	color: #07941f;
}

.not-working {
	color: #be1515;
}

table td {
	font-size: 1.2em;
}

#status {
	color: #000;
	font-weight: bold;
	background: yellow;
}

.info {
	font-size: 1em;
	color: #9ca09c;
}

footer {
	margin-top: 25px;
	font-size: 0.9em;
}
